<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RenameAppending" value=".old"/>
		<add key="SourceFolderPath" value="C:\TestRenameAndCopy\Source"/>
		<add key="SourceArchiveFolderPath" value="C:\TestRenameAndCopy\SourceArchive"/>
		<add key="TargetArchiveFolderPath" value="Archived"/>
		<add key="TargetFolderPath-Test-1" value="C:\TestRenameAndCopy\Target-1"/>
		<add key="TargetFolderPath-Test-2" value="C:\TestRenameAndCopy\Target-2"/>
		<add key="TargetFolderPath-Test-3" value="C:\TestRenameAndCopy\Target-3"/>
		<add key="TargetFolderPath-Production-1" value="C:\TestRenameAndCopy\Production\Target-1"/>
		<add key="TargetFolderPath-Production-2" value="C:\TestRenameAndCopy\Production\Target-2"/>
		<add key="TargetFolderPath-Production-3" value="C:\TestRenameAndCopy\Production\Target-3"/>
	</appSettings>
</configuration>