<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--The folder that contain the files for update-->
		<add key="SourceFolderPath" value="C:\Users\jzhang\Desktop\TabsUpdate\In"/>

		<!--The defalut path of file picker when select the files as the source-->
		<add key="FilePickerDefaultPath" value="C:\VisualStudioProjects\UpdateTo48\Production\source\Tabs\bin\Release"/>
		
		<!--After update, the files in "SourceFolderPath" will be move to this folder for archive.-->
		<add key="SourceArchiveFolderPath" value="C:\Users\jzhang\Desktop\TabsUpdate\Archive"/>
		
		<!--The sub-folder in the target path for archive old files, if it doesn't exist, it can be created in the app in the 3rd step.-->
		<add key="TargetArchiveFolderPath" value="Archived"/>
		
		<!--Setting the Key for TargetFolderPath:
					String split by "-".
					The first name must be "TargetFolderPath".
					The middle name is the template name, will show in the 2nd step in the app, allow assign to multiple template by adding multiple middle name.
					The last name is the id that make sure the key is unique.
		-->
		<add key="TargetFolderPath-Tabs-Tabs_Test-1" value="\\tst-wts-05\TaBS"/>
		<add key="TargetFolderPath-Tabs-Tabs_Production-1" value="\\mel-rds-01\d$\Program Files\TaBs"/>
		<add key="TargetFolderPath-Tabs-Tabs_Production-2" value="\\mel-rds-02\d$\Program Files\TaBs"/>
		<add key="TargetFolderPath-Tabs-Tabs_Production-3" value="\\mel-rds-03\d$\Program Files\TaBs"/>
		<add key="TargetFolderPath-Tabs-Tabs_Production-4" value="\\mel-rds-04\d$\Program Files\TaBs"/>
		<add key="TargetFolderPath-Tabs-Tabs_Production-5" value="\\mel-rds-05\d$\Program Files\TaBs"/>
		<add key="TargetFolderPath-Tabs-Tabs_Production-6" value="\\mel-rds-06\d$\Program Files\TaBs"/>
		<add key="TargetFolderPath-Tabs-Tabs_Production-7" value="\\mel-rds-07\d$\Program Files\TaBs"/>
		<add key="TargetFolderPath-Tabs-Tabs_Production-8" value="\\mel-rds-08\d$\Program Files\TaBs"/>
		<add key="TargetFolderPath-Tabs-Tabs_Production-9" value="\\mel-rds-09\d$\Program Files\TaBs"/>
		<add key="TargetFolderPath-Tabs-Tabs_Production-10" value="\\mel-rds-10\d$\Program Files\TaBs"/>
		
		<add key="TargetFolderPath-BTImage-BTImage_Test-1" value="\\tst-wts-05\d$\Program Files\BTImaging" />
		<add key="TargetFolderPath-BTImage-BTImage_Producton-1" value="\\mel-rds-01\c$\Program Files (x86)\Booth Transport\BTImagingSetup" />
		<add key="TargetFolderPath-BTImage-BTImage_Producton-2" value="\\mel-rds-02\c$\Program Files (x86)\Booth Transport\BTImagingSetup" />
		<add key="TargetFolderPath-BTImage-BTImage_Producton-3" value="\\mel-rds-03\c$\Program Files (x86)\Booth Transport\BTImagingSetup" />
		<add key="TargetFolderPath-BTImage-BTImage_Producton-4" value="\\mel-rds-04\c$\Program Files (x86)\Booth Transport\BTImagingSetup" />
		<add key="TargetFolderPath-BTImage-BTImage_Producton-5" value="\\mel-rds-05\c$\Program Files (x86)\Booth Transport\BTImagingSetup" />
		<add key="TargetFolderPath-BTImage-BTImage_Producton-6" value="\\mel-rds-06\c$\Program Files (x86)\Booth Transport\BTImagingSetup" />
		<add key="TargetFolderPath-BTImage-BTImage_Producton-7" value="\\mel-rds-07\c$\Program Files (x86)\Booth Transport\BTImagingSetup" />
		<add key="TargetFolderPath-BTImage-BTImage_Producton-8" value="\\mel-rds-08\c$\Program Files (x86)\Booth Transport\BTImagingSetup" />
		<add key="TargetFolderPath-BTImage-BTImage_Producton-9" value="\\mel-rds-09\c$\Program Files (x86)\Booth Transport\BTImagingSetup" />
		<add key="TargetFolderPath-BTImage-BTImage_Producton-10" value="\\mel-rds-10\c$\Program Files (x86)\Booth Transport\BTImagingSetup" />
		
		<add key="TargetFolderPath-CoMS-CoMS_Test-1" value="\\TST-WTS-05\Program Files\CoMS 2022-09-08" />
		<add key="TargetFolderPath-CoMS-CoMS_Production-1" value="\\mel-rds-01\d$\Program Files\CoMs" />
		<add key="TargetFolderPath-CoMS-CoMS_Production-2" value="\\mel-rds-02\d$\Program Files\CoMs" />
		<add key="TargetFolderPath-CoMS-CoMS_Production-3" value="\\mel-rds-03\d$\Program Files\CoMs" />
		<add key="TargetFolderPath-CoMS-CoMS_Production-4" value="\\mel-rds-04\d$\Program Files\CoMs" />
		<add key="TargetFolderPath-CoMS-CoMS_Production-5" value="\\mel-rds-05\d$\Program Files\CoMs" />
		<add key="TargetFolderPath-CoMS-CoMS_Production-6" value="\\mel-rds-06\d$\Program Files\CoMs" />
		<add key="TargetFolderPath-CoMS-CoMS_Production-7" value="\\mel-rds-07\d$\Program Files\CoMs" />
		<add key="TargetFolderPath-CoMS-CoMS_Production-8" value="\\mel-rds-08\d$\Program Files\CoMs" />
		<add key="TargetFolderPath-CoMS-CoMS_Production-9" value="\\mel-rds-09\d$\Program Files\CoMs" />
		<add key="TargetFolderPath-CoMS-CoMS_Production-10" value="\\mel-rds-10\d$\Program Files\CoMs" />
	</appSettings>
</configuration>