<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RenameAppending" value=".old"/>
		<add key="SourceFolderPath" value="C:\TestRenameAndCopy\Source"/>
		<add key="SourceArchiveFolderPath" value="C:\TestRenameAndCopy\SourceArchive"/>
		<add key="TargetFolderPath-1" value="C:\TestRenameAndCopy\Target-1"/>
		<add key="TargetFolderPath-2" value="C:\TestRenameAndCopy\Target-2"/>
		<add key="TargetFolderPath-3" value="C:\TestRenameAndCopy\Target-3"/>
	</appSettings>
</configuration>